<div class="container mt-5 mb-5">
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <p class="font-italic mt-5">Tình trạng: 0: Hủy; 1: Đang xử lí, 2: Hoàn thành.</p>
    <table id="myTable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" class="text-center" onclick="sortTable(0)" data-toggle="tooltip" title="Click để sắp xếp">Tình trạng</th>
                <th scope="col" class="text-center" onclick="sortTable(1)" data-toggle="tooltip" title="Click để sắp xếp">ID</th>
                <th scope="col" class="text-center" onclick="sortTable(2)" data-toggle="tooltip" title="Click để sắp xếp">Người đặt</th>
                <th scope="col" class="text-center" onclick="sortTable(3)" data-toggle="tooltip" title="Click để sắp xếp">Địa chỉ</th>
                <th scope="col" class="text-center" onclick="sortTable(4)" data-toggle="tooltip" title="Click để sắp xếp">Điện thoại</th>
                <th scope="col" class="text-center" onclick="sortTable(5, true)" data-toggle="tooltip" title="Click để sắp xếp">Tổng tiền</th>
                <th scope="col" class="text-center">Sửa</th>
            </tr>
        </thead>
        <tbody id="holder">
            <script src="/javascripts/admin.js"></script>
            <script>
                var orderList = [];
                {{#each orders }}
                    var obj = new Object();
                    obj.status = '{{this.status}}';
                    obj.address = '{{this.address}}';
                    obj.id = '{{this._id}}';
                    obj.name = '{{this.name}}';
                    obj.phone = '{{this.phone}}';
                    obj.totalPrice = '{{this.cart.totalPrice}}';
                    orderList.push(obj);
                {{/each}}
                var dataHtml = '';
                for (var i = 0; i < orderList.length; i++) {
                    dataHtml += '<tr>';
                    dataHtml += '<td scope="row" class="text-center text-primary">';
                    dataHtml += orderList[i].status;
                    dataHtml += '</td>';        
                    dataHtml += '<td class="text-center">';
                    dataHtml += orderList[i].id;
                    dataHtml += '</td>';
                    dataHtml += '<td class="text-center">';
                    dataHtml += orderList[i].name;
                    dataHtml += '</td>';
                 /*   dataHtml += '<td id="dateAdded" class="text-center">';
                    let dateDate =  new Date(orderList[i].added);
                    let year = dateDate.getFullYear().toString();
                    let month = (dateDate.getMonth() + 1).toString();
                    if (month.length < 2)
                        month = '0' + month;
                    let day = dateDate.getDate().toString();
                    if (day.length < 2)
                        day = '0' + day;
                    let hours = dateDate.getHours().toString();
                    if (hours.length < 2)
                        hours = '0' + hours;
                    let minutes = dateDate.getMinutes().toString();
                    if (minutes.length < 2)
                        minutes = '0' + minutes;
                    let seconds = dateDate.getSeconds().toString();
                    if (seconds.length < 2)
                        seconds = '0' + seconds;
                    let dateAdded = year + '/' + month + '/' + day + ' ' + hours + ':' + minutes + ':' + seconds;
                    dataHtml += dateAdded + '</td>';*/
                    dataHtml += '<td class="text-center">';
                    dataHtml += orderList[i].address;
                    dataHtml += '</td>';
                    dataHtml += '<td class="text-center">';
                    dataHtml += orderList[i].phone;
                    dataHtml += '</td>';
                    dataHtml += '<td class="text-center text-danger">';
                    dataHtml += orderList[i].totalPrice;
                    dataHtml += '</td>';
                    dataHtml += '<td class="text-center"><a href="/admin/view-order/';
                    dataHtml += orderList[i].id;
                    dataHtml += '"><i class="fas fa-edit"></i></a></td>';
                    dataHtml += '</tr>';
                }
                $('#holder').html(dataHtml);
            </script>
        </tbody>
    </table>
</div>