<link rel="stylesheet" href="/stylesheets/profile.css">
<div class="container">
	<div class="row m-y-2">
		<div class="col-lg-8 push-lg-4">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
				</li>
				<li class="nav-item">
					<a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
				</li>
				<li class="nav-item">
					<a href="" data-target="#history" data-toggle="tab" class="nav-link">History</a>
				</li>
			</ul>
			<div class="tab-content p-b-3">
				<div class="tab-pane active" id="profile">
					<h4 class="m-y-2">{{name}}</h4>
					<div class="row">
						<div class="col-md-6">
							<p>Email: {{email}}</p>
							<p>Address: {{address}}</p>
						</div>
					</div>
					<!--/row-->
				</div>
				<div class="tab-pane" id="edit">
					<h4 class="m-y-2">Edit Profile</h4>
					<form role="form" method="POST" action="/users/profile">
						<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">First name</label>
							<div class="col-lg-9">
								<input class="form-control" type="text" value="{{firstname}}" name="firstname">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">Last name</label>
							<div class="col-lg-9">
								<input class="form-control" type="text" value="{{lastname}}" name="lastname">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">Address</label>
							<div class="col-lg-9">
								<input class="form-control" type="text" value="{{address}}" name="address">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">Password</label>
							<div class="col-lg-9">
								<input class="form-control" type="password" value="" name="password">
							</div>
						</div>
						<label class="col-lg-3 col-form-label form-control-label"></label>
						<div class="col-lg-9">
							<input type="reset" class="btn btn-secondary" value="Cancel">
							<input type="submit" class="btn btn-primary" value="Save Changes">
						</div>
					</form>
				</div>
				<div class="tab-pane" id="history">
					<h4 class="m-y-2">History</h4>
					{{#each orders}}
					<div class="card">
						<div class="card-body">
							<ul class="list-group">
								{{#each this.item}}
								<li class="list-group-item d-flex justify-content-between align-items-center">
									{{this.item.title}} | {{this.qty}} Units
									<span class="badge badge-primary badge-pill">{{this.price}}</span>
								</li>
								{{/each}}
							</ul>
						</div>
						<div class="card-footer">
							${{this.cart.totalPrice}}
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
		<div class="col-lg-4 pull-lg-8 text-xs-center" style="margin-bottom: 100px">
			<img src={{file}} alt="avatar" class="m-x-auto img-fluid" style="width:150px; height:150px">
			<form action="/users/upload" method="POST" enctype="multipart/form-data" class="custom-file">
				<input name="myImage" type="file">
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
			{{#if hasErrors}} {{#each messages}}
			<div class="alert alert-danger">
				<p>{{this}}</p>
			</div>
			{{/each}} {{else}} {{#each messages}}
			<div class="alert alert-success">
				<p>{{this}}</p>
			</div>
			{{/each}} {{/if}}
		</div>
	</div>
</div>
<hr>